/* CSS for search file */


div.container {
    margin-top: 200px;

}

div.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.input-group .btn {
    position: fixed;

  }

div.input-group {
    justify-content: center;

}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: #fff !important;
  
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 205px;
  margin-top: 4px;
  padding: 4px 0;
  color: #999;
  background-color: white !important;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
/*

nav.navbar {
    background-color: #DAAD86;
    border-color: #DAAD86;
    justify-content: space-between !important;
    display: flex !important;
    font-size: 20px;

}

nav.navbar a{
    color: black;
    display: flex;
    
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-nav>li>a:hover {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white !important;
    background-color :#659DBD !important;
}

.nav>li>a:hover {
    color: white !important;
    background-color :#659DBD !important;
}




form.example button {
    background: #2196F3;
    color: white;
    font-size: 90px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

body {
    font-family: Arial;
  }
  * {
    box-sizing: border-box;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
  }
  form.example button {
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.example button:hover {
    background: #0b7dda;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  */